[include shell_command.cfg]
# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[include macros.cfg]

[exclude_object]
[respond]
[pause_resume]
[display_status]
[virtual_sdcard]
path: ~/printer_data/gcodes

# [include ./probes/eddy.cfg]
[include ./probes/eddyng.cfg]

[force_move]
enable_force_move: True

[safe_z_home]
home_xy_position: 160, 160
z_hop: 10

[gcode_arcs]
resolution: 0.4

[firmware_retraction]
retract_length: 0.8
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 60
#   The speed of retraction, in mm/s. The default is 20 mm/s.
# unretract_extra_length: 0.5
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 60
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[z_tilt]
z_positions: -35,160
             355,160
points: 80, 120
        160, 120
        240, 120
        320, 120
retries: 10
retry_tolerance: 0.06
increasing_threshold: 0.005
horizontal_move_z: 3
speed: 200
adaptive_horizontal_move_z: True

[axis_twist_compensation]
calibrate_start_x: 40
calibrate_end_x: 280
calibrate_y: 160
calibrate_start_y: 40
calibrate_end_y: 300
calibrate_x: 160
horizontal_move_z: 3

[mcu]
canbus_uuid: aaaf7ee9f59f
# serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_2000390008504E5238363120-if00

[mcu EBBCan]
canbus_uuid: 29668784ed95

[mcu PIS]
# Obtain definition by "ls -l /dev/serial/by-id/" then unplug to verify
serial: /dev/serial/by-id/usb-Klipper_rp2040_E6611CB697438922-if00
is_non_critical: True

[adxl345 toolhead]
cs_pin: EBBCan: PB12
spi_bus: spi2_PB2_PB11_PB10
axes_map: x,y,z

[adxl345 bed]
cs_pin: PIS:gpio13
#spi_bus: spi1a
spi_software_sclk_pin: PIS:gpio10
spi_software_mosi_pin: PIS:gpio11
spi_software_miso_pin: PIS:gpio12
axes_map: x,-z,y

[resonance_tester]
# accel_chip: adxl345
accel_chip_x: adxl345 toolhead
accel_chip_y: adxl345 bed
probe_points:
    160, 160, 40  # an example

[extruder]
step_pin: EBBCan: PD0
dir_pin: !EBBCan: PD1
enable_pin: !EBBCan: PD2
microsteps: 16
rotation_distance: 7.728
nozzle_diameter: 0.600
filament_diameter: 1.750
heater_pin: EBBCan: PB13
sensor_type: EPCOS 100K B57560G104F
sensor_pin: EBBCan: PA3
min_temp: 0
max_temp: 280
max_extrude_only_distance: 50.0
max_extrude_cross_section: 5
pressure_advance: 0.02

# EBB42 tmc2209
[tmc2209 extruder]
uart_pin: EBBCan: PA15
sense_resistor: 0.110
run_current: 0.707
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 2
driver_HEND: 3

[fan]
pin: EBBCan: PA0

[heater_fan hotend_fan]
pin: EBBCan: PA1
heater: extruder
heater_temp: 50.0


[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 5000
max_z_velocity: 25
max_z_accel: 1000
## Uncomment for Input Shaper calibrations
# max_accel: 10000

# [input_shaper]
# shaper_type_y = 2hump_ei
# shaper_freq_y = 47.2
#shaper_type_x = mzv
#shaper_freq_x = 53.2

# 42HD2048-02 on sticker, 42HD2037-02 in BOM
[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 64
rotation_distance: 40
endstop_pin: ^PC4
position_endstop: -5.0
position_min: -5
position_max: 330
homing_speed: 60

# 42HD4029-01 on sticker, Stepper42-40 in BOM
[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 64
rotation_distance: 40
endstop_pin: ^PB0
position_endstop: 0
position_max: 330
homing_speed: 60

# 42HD2037-04 in BOM
[stepper_z] # Z Left - ZL
step_pin: PD2
dir_pin: PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 8
position_min: -2
position_max: 400
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
homing_speed: 10.0

[stepper_z1] # Z Right - ZR
step_pin: PB7
dir_pin: PB6
enable_pin: !PB4
microsteps: 16
rotation_distance: 8

# BJ42D09-18V06 on engraving, 42HD1418-01 in BOM
# default extruder w/o CAN
# [extruder]
# step_pin: PD5
# dir_pin: PD6
# enable_pin: !PB3
# microsteps: 16
# # Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
# rotation_distance: 7.728
# nozzle_diameter: 0.400
# filament_diameter: 1.750
# heater_pin: PB11 #HE0
# sensor_type: EPCOS 100K B57560G104F
# sensor_pin: PA4 #TH0
# #control: pid
# #pid_Kp: 21.527
# #pid_Ki: 1.063
# #pid_Kd: 108.982
# min_temp: 0
# max_temp: 280
# max_extrude_only_distance: 50.0
# max_extrude_cross_section: 5
# pressure_advance: 0.02

[filament_switch_sensor material_0]
switch_pin: PC5
pause_on_runout: true

#[filament_switch_sensor material_1]
#switch_pin: PB1

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: watermark
min_temp: 0
max_temp: 100


[led LED_Light]
white_pin: PA8
initial_white: 0.0

# [fan]
# pin: PB14

# [heater_fan hotendfan]
# pin: PB15
# heater: extruder
# heater_temp: 50.0



########################################
# TMC2209 configuration
########################################

# 42HD2048-02 on sticker, 42HD2037-02 in BOM
# Inductance: 9.5 mH, resistance: 6, rated current: 0.8
[tmc2209 stepper_x]
uart_pin: PB8
#diag_pin: PC4
run_current: 0.566
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 0
interpolate: False

# 42HD4029-01 on sticker, Stepper42-40 in BOM
# Inductance: 12 mH, resistance: 6, rated current: 0.8
[tmc2209 stepper_y]
uart_pin: PC9
#diag_pin: PB0
run_current: 0.566
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 0
interpolate: False

# 42HD2037-04 in BOM
# Inductance: 9.5 mH, resistance: 6, rated current: 0.8
[tmc2209 stepper_z]
uart_pin: PD0
#diag_pin: PC6
run_current: 0.566
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 0
interpolate: True

[tmc2209 stepper_z1]
uart_pin: PB5
#diag_pin: PC6
run_current: 0.566
sense_resistor: 0.110
# stealthchop_threshold: 999999
driver_TBL: 1
driver_TOFF: 3
driver_HSTRT: 0
driver_HEND: 0
interpolate: True

# BJ42D09-18V06 on engraving, 42HD1418-01 in BOM
# Inductance: 3.2 mH, resistance: 2, rated current: 1.2
# default tmc2209 on manta board
# [tmc2209 extruder]
# uart_pin: PD1
# sense_resistor: 0.110
# run_current: 0.707
# driver_TBL: 1
# driver_TOFF: 3
# driver_HSTRT: 2
# driver_HEND: 3
# stealthchop_threshold: 999999
# interpolate: False


[bed_screws]
screw1: 65, 13
screw1_name: left front screw
screw2: 65, 145
screw2_name: left middle screw
screw3: 65, 280
screw3_name: left back screw
screw4: 318, 13
screw4_name: right front screw
screw5: 318, 145
screw5_name: right middle screw
screw6: 318, 280
screw6_name: right back screw

[screws_tilt_adjust]
screw1: 65, 13
screw1_name: left front screw
screw2: 65, 145
screw2_name: left middle screw
screw3: 65, 280
screw3_name: left back screw
screw4: 318, 13
screw4_name: right front screw
screw5: 318, 145
screw5_name: right middle screw
screw6: 318, 280
screw6_name: right back screw

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#[bltouch]
#sensor_pin: PA6
#control_pin: PA7

#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

[temperature_sensor rpi_temp]
sensor_type: temperature_host

[temperature_sensor mcu_temp]
sensor_type: temperature_mcu
sensor_temperature1: 25
sensor_adc1: 0.210317

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 69.490
#*# pid_ki = 0.617
#*# pid_kd = 1957.009
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 34.776
#*# pid_ki = 2.696
#*# pid_kd = 112.151
#*#
#*# [probe_eddy_ng btt_eddy]
#*# calibrated_drive_currents = 15, 16
#*# calibration_version = 5
#*# reg_drive_current = 15
#*# tap_drive_current = 16
#*# calibration_15 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQHz73faUZ9z9o0Ao1pFb8P4/913pm9OY/PReyvVjk2T9TNMPP+CjWP2ObphlvxdE/aAyqFxyawL/kDVIXSnjOvwe8+hXw0cc/mTEn+Wumyj+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxANG5X2fHmUPr17oyHW3ZQ+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1Bm2poDNZsaQDpi3k8hkghA7MHCMu/2+j9PScEruLcHQAsGaYUEjeE/rgj7hDZzHMC/oIDcZADtP2ngNow7DCdAxTb+xPtWsT+07rwp0I4UwJR0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQObTXLpjalD7mKa3nevCUPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUDaT/fhVxJQ+8tveA1BaJD7YfhU12EwWvu/ecYA/hgM+HtIj4CdZ5r0xmvWalWu0vUY3w4tyUMs9Jf+D3KJXrr0LVBMKD/W6vZkjw9BEbaU9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAQHF7MGDCP0D/PQvE6xNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz/CYDB7cUAAR0At/9lHZmrhZYwHZl9yYW5nZZRdlChHQUhzmDRgOABHQUkBsxKQgABljAJkY5RLD3Uu
#*# calibration_16 = gASVygMAAAAAAAB9lCiMAXaUSwWMBGZ0b2iUjBtudW1weS5wb2x5bm9taWFsLnBvbHlub21pYWyUjApQb2x5bm9taWFslJOUKYGUfZQojARjb2VmlIwVbnVtcHkuY29yZS5tdWx0aWFycmF5lIwMX3JlY29uc3RydWN0lJOUjAVudW1weZSMB25kYXJyYXmUk5RLAIWUQwFilIeUUpQoSwFLCoWUaAyMBWR0eXBllJOUjAJmOJSJiIeUUpQoSwOMATyUTk5OSv////9K/////0sAdJRiiUNQgN23lHv78z+hm237/9X7PzppRkTFl+g/zFw8i7ro2z9eCeGqE+7VP/IgB8nI5M4/BxmMi/q2t7/mFdVif3W6v9tnJ9Jc78w/rwGXBIw5xz+UdJRijAZkb21haW6UaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxB6T8Tgt3eUPvV2kCYr95Q+lHSUYowGd2luZG93lGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGKMB19zeW1ib2yUjAF4lIwGc3ltYm9slGgsdWKMCWZ0b2hfaGlnaJRoBSmBlH2UKGgIaAtoDksAhZRoEIeUUpQoSwFLCoWUaBiJQ1DFwZgH62waQPTVphtJxghA5IwMGatg+z9BA2ZZwWf7P8if+dbYv+Y/ZYJWFZnJAMA5cyyr9ICxP/Yr4AHHFQ5AP/h7Jcfj5j9+P66sGvLyv5R0lGJoHWgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAWsvmq3zlD5QOZRuQAuVPpR0lGJoJGgLaA5LAIWUaBCHlFKUKEsBSwKFlGgYiUMQAAAAAAAA8L8AAAAAAADwP5R0lGJoK2gsaC1oLHVijARodG9mlGgFKYGUfZQoaAhoC2gOSwCFlGgQh5RSlChLAUsKhZRoGIlDUENOuYVM2ZQ+k0/sBs6pKD6SiHGIySwdvmG8fRqclws+Rj1YhgGb7b3vWitvpYO8vWjijG1gT+y9PnKBwhHD6T3WzwhZ/5XkPcszIRse3uG9lHSUYmgdaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAnOGX4CMYPwAcorsH7hNAlHSUYmgkaAtoDksAhZRoEIeUUpQoSwFLAoWUaBiJQxAAAAAAAADwvwAAAAAAAPA/lHSUYmgraCxoLWgsdWKMB2hfcmFuZ2WUXZQoRz8YI+CX4ZwAR0At/1sJUb0sZYwHZl9yYW5nZZRdlChHQUhUfOejuABHQUkD3KLA0ABljAJkY5RLEHUu
#*#
#*# [axis_twist_compensation]
#*# z_compensations = -0.004785, 0.002030, 0.002755
#*# compensation_start_x = 40.0
#*# compensation_end_x = 280.0
#*#
#*# [input_shaper]
#*# shaper_type_x = mzv
#*# shaper_freq_x = 57.0
#*# shaper_type_y = 2hump_ei
#*# shaper_freq_y = 51.0
